Abstract/abstract.aux
Acknowledgment/Acknowledgment.aux
Chapter1/tex.aux
Chapter2/tex.aux
Chapter3/tex.aux
Chapter4/tex.aux
Chapter5/tex.aux
Chapter6/tex.aux
Chapter7/tex.aux
Macros/MacroFile1.aux
thesis.aux
thesis.bbl
thesis.blg
thesis.brf
thesis.glo
thesis.lof
thesis.log
thesis.out
thesis.pdf
thesis.toc
thesis.synctex.gz
thesis.bib~
thesis.tex~
